pnpm-lock.yaml
package-lock.json
yarn.lock

.venv/
node_modules/

packages/backend/embedding_atlas/widget_static/
packages/backend/embedding_atlas/static/

packages/docs/.vitepress/cache/
packages/docs/public/
packages/docs/demo-data/

packages/umap/nndescent/bench/
packages/umap/umap/bench/
packages/umap/umap-wasm/pkg

packages/density-clustering/density_clustering_wasm/pkg/
